/* CSS reset */
* {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

.profile_pic {
  width: 20vw; }

.card {
  width: 55vw; }

.card0 {
  margin-right: 20vw; }

.card1 {
  margin-left: 20vw; }

h2 {
  padding-top: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 4rem;
  margin-left: 2vw;
  margin-right: 20vw;
  border-bottom: solid 2px black;
  -webkit-text-stroke: 0.5px whitesmoke; }

.abt_bg {
  background-color: #eae9ee;
  min-height: 600px; }

.cont_bg {
  background-color: #cecad9;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.abt_txt {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0; }

.work_bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/work_bg.jpg");
  background-color: black;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.edu_bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/edu_bg.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.port_bg {
  background-image: url("../images/port_bg.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#edu {
  color: whitesmoke;
  border-bottom: solid 2px whitesmoke;
  -webkit-text-stroke: 0.5px black; }

.icon_sm {
  width: 128px; }

.icon_min {
  width: 25px; }

.icon_footer {
  width: 30px; }

.footer_text {
  font-weight: 700; }

@media only screen and (max-width: 768px) {
  h2 {
    margin-right: 2vw;
    margin-left: 2vw; }
  .card {
    width: 90vw; }
  .card0 {
    margin-right: 0; }
  .card1 {
    margin-left: 0; }
  .abt_bg {
    min-height: 700px; }
  .work_bg, .port_bg, .edu_bg, .cont_bg {
    background-image: none;
    background-color: #eae9ee;
    overflow: hidden; }
  #edu {
    color: black;
    border-bottom: solid 2px black;
    -webkit-text-stroke: 0.5px whitesmoke; }
  .profile_pic {
    display: none; } }
