
.card{
    width: 55vw;
}

.card0{
    margin-right: 20vw;
}

.card1{
    margin-left: 20vw;
}

h2{
    padding-top: 56px;
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    margin-left: 2vw;
    margin-right: 20vw;
    border-bottom: solid 2px black;
    -webkit-text-stroke: 0.5px whitesmoke;
}

.abt_bg{
    background-image: url("../images/abt_bg.jpg");
    @include parallax_bg
}

.abt_txt{
    font-size: 1.2rem;
    font-weight: 500;
}

.work_bg{
    background-image: url("../images/work_bg.jpg");
    @include parallax_bg
}

.edu_bg{
    background-image: url("../images/edu_bg.jpg");
    @include parallax_bg;
}

.port_bg{
    background-image: url("../images/port_bg.jpg");
    @include parallax_bg;
}

#edu{
    color: whitesmoke;
    border-bottom: solid 2px whitesmoke;
    -webkit-text-stroke: 0.5px black;
}

.icon_edu{
    width: 128px;
}

@media only screen and (max-width: 768px) {
    .card{
        width: 90vw;
    }

    .card0{
        margin-right: 0;
    }

    .card1{
        margin-left: 0;
    }

}